<form action="/item/create" method="POST">
Category:
<select name="category" >
    <option value="staple">Staples</option>
    <option value="vegetable">Vegetables</option>
    <option value="fruits">Fruits</option>
    <option value="bath supply">Bath Supplies</option>
</select>
<br>
Name:<input type="text" placeholder="Enter name" name="name">
<br>
Status:<input type="text" placeholder="Enter name" name="status">
<br>
Description:<input type="text" placeholder="Enter description" name="description">
<br>
Quantity:<input type="number" name="quantity">
<br>
Price:<input type="text" name="price">
<br>
Image URL:<input type="text" name="imageurl">
<br>
<input type=submit>
</form>