<html>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <title>Home</title>
    <style>
        .main {
            margin: auto;
            text-align: center;
        }

        input {
            margin-top: 10px !important;
            border-radius: 4px;
            padding: 5px 5px 5px 5px;
            border: 1px grey solid;
        }

        nav {
            color: white;
            font-size: 1.8rem;
        }

        .container-fluid {
            width: 70%;
            margin-top: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .col-sm {
            margin: 10px 0px 10px 0px;
        }

        .card {
            background-color: #204051;
            color: white;
            margin: auto;
            text-align: center;
        }

        nav a {
            color: white;
        }

        nav a:hover {
            color: grey;
        }

        .scr {
            height: 350px;
            overflow: auto;
        }

        .scr .card {
            background-color: #726a95;
        }
        .btn{
            width: 300px;
            font-size: 1.6rem;
        }
    </style>
</head>

<body>
    <div class="main">
        <nav class="navbar navbar-dark bg-dark">
            <i class="fas fa-shopping-cart"></i>
        </nav>
        <h1>Hello Welcome to our website!</h1><br>
        <h2>Bringing Whole-Sale market to your footsteps</h2><br>
        <!-- <a href="/buyer"><button class="btn btn-primary"><i class="fas fa-user"></i> Buyer</button></a> -->
        <a href="/seller"><button class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Seller</button></a>
    </div>
</body>

</html>