<html>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <style>
        .main {
            margin: auto;
            text-align: center;
        }

        input {
            margin-top: 10px !important;
            border-radius: 4px;
            padding: 5px 5px 5px 5px;
            border: 1px grey solid;
        }

        nav {
            color: white;
            font-size: 1.8rem;
        }

        .container-fluid {
            width: 70%;
            margin-top: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .col-sm {
            margin: 10px 0px 10px 0px;
        }

        .card {
            background-color: #204051;
            color: white;
            margin: auto;
            text-align: center;
        }

        nav a {
            color: white;
        }

        nav a:hover {
            color: grey;
        }

        .scr {
            height: 350px;
            overflow: auto;
        }

        .scr .card {
            background-color: #726a95;
        }
    </style>
    <title>Login form</title>
</head>

<body>
    <div class="main">
        <nav class="navbar navbar-dark bg-dark">
            <i class="fas fa-shopping-cart"></i>
        </nav>
        <h1>Login as Seller</h1>
        <div class="container-fluid">
            <h3>Enter Credentials</h3>
            <form action="/slogin" method="POST">
                <input type="text" required autocomplete="off" name="username" placeholder="Enter Username"><br>
                <input type="password" required autocomplete="off" name="password" placeholder="Enter Password"><br><br>
                <button type="submit" class="btn btn-success">Login</button>
            </form>
        </div>
    </div>
</body>

</html>